/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #e36a6a;
  --color-text: #000;
  --color-light: #fffbf1;
  --color-accent--1: #ffe9f8;
  --color-accent--2: #fff2d0;
  --color-accent--3: #ffe4c6;

  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --container-width: 1240px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  flex: 1;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

/* ========= COMPONENTS ========= */

/* HEADER */

.header {
  padding: 10px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}

.hamburger-menu {
  display: flex;
}

.nav-list {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  height: 100px;
  background-color: #424242;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  color: var(--color-light);
}

/* Styling the entire section */
.section {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

/* div component */
.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border: 1px solid #000;
  margin-bottom: -1px;
  gap: 20px;
}

.container-rounded {
  border-radius: 30px;
}

/* Styling the button - in this case a element */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  background-color: transparent;
  border: none;
  height: 56px;
}

/* Button container, because the button is made out of two buttons - text + arrow */
.btns-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.btn-container {
  display: flex;
  width: 100%;
}

.btn-container .btn-text {
  width: 65%;
  border: 1px solid #000000;
  color: #000000;
}

.btn-container .btn-text:hover {
  border: 1px solid #e36a6a;
  border-radius: 30px;
}

.btn-container .btn-arrow {
  border: 1px solid #000000;
  width: 35%;
}

.btn-container .btn-arrow {
  border-left: 1px solid transparent;
}

.btn-container .btn-arrow:hover {
  border: 1px solid #e36a6a;
  border-radius: 30px;
}

.btn-container .btn-text:hover + .btn-arrow {
  border-left: 1px solid #000;
}

/* Styles for the section hearer component */

/* ACCENT DASH FOR THE SECTION TITLE */

.accent-dash {
  color: #e36a6a;
  font-weight: 800;
  font-size: 42px;
}

/* Styling the social links */
.social-links {
  display: flex;
  gap: 20px;
}
.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--color-text);
}

.social-link svg {
  width: 24px;
  height: auto;
  fill: currentColor;
}

.social-link:hover {
  color: var(--color-primary);
}

/* STYLES ONLY FOR CONTACT SECTION =====> move to styles.css */

.contact {
  padding: 30px 0;
}

.contact > .container p span {
  color: var(--color-primary);
  font-weight: 500;
}

.contact > .container:first-child {
  background-color: var(--color-accent--3);
}

/* STYLES ONLY FOR HOME PAGE */
.intro {
  display: flex;
}

.intro-image {
  position: relative;
  margin-top: 30px;
}

.container-intro-image {
  width: 100%;
  height: 400px;
  position: relative;
}

.intro-image img {
  position: absolute;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ======== NEED A DEV / NEED A WEBSITE PAGES ========= */

.need-dev .container {
  background-color: var(--color-accent--1);
  border: none;
}

/* -- BUTTON CENTERED -- */
.need-dev .btn-container {
  width: 80%;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

/* ABOUT SECTION */

.about {
  background-color: var(--color-accent--1);
  padding: 30px 10px;
}

/* TECH STACK SECTION */

.tech-stack {
  display: flex;
  gap: 20px;
  padding: 30px 0 150px 0;
}

.tech-stack h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech-stack h4 > span {
  color: var(--color-primary);
}

.tech-image {
  position: relative;
  margin-top: 30px;
}

.tech-content > .container:first-child {
  background-color: var(--color-accent--1);
}

.tech-content > .container h4 {
  font-weight: 500;
}

.container-tech-image {
  width: 100%;
  height: 474px;
  position: relative;
}

.tech-image img {
  position: absolute;
  width: 90%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PROJECTS SECTION */

.projects {
  flex-direction: column;
  gap: 20px;
  padding: 30px 0 0 0;
}

.btn-container--projects {
  width: 30%;
}

.btn-container--projects .btn-text,
.btn-container--projects .btn-arrow {
  width: 50%;
  height: 40px;
}

.btn-container--projects .btn-text {
  transform: scaleX(-1);
}

.projects .section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project > h5 {
  font-weight: 500;
}

.project > img {
  width: 100%;
}

.projects-content .project .btn-container {
  display: flex;
  width: min(80%, 400px);
}

/* CONTACT SECTION IN NEED DEV PAGE */
.contact-dev > .container:first-child {
  background-color: var(--color-accent--1);
}

@media (min-width: 1024px) {
  /* Nav list on the desktop screen */

  .nav-list {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .header {
    padding: 30px;
  }

  .nav-list a {
    font-size: 16px;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 0 30px;
  }

  .nav-list li + li {
    border-left: 1px solid transparent;
  }

  .nav-list li:hover {
    border: 1px solid #e36a6a;
    border-radius: 30px;
  }

  .nav-list li:hover + li {
    border-left: 1px solid #000;
  }

  /* Global components styles on the desktop screen */

  /* Styling the entire section */
  .section {
    flex-direction: row;
    margin: 30px 10px;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* ONLY FOR CONTACT PAGE */
  .container {
    margin-right: -1px;
  }

  .contact {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact > .container {
    flex: 1 1 calc(50% - 10px);
    padding: 60px;
  }

  .contact > .contact-info {
    flex-basis: 100%;
  }

  /* ==== HOME PAGE ===== */

  /* --- PAGE WIDTH --- */
  .intro .container {
    padding: 60px;
  }

  .intro-content,
  .intro-image {
    width: 50%;
  }

  .intro-image {
    margin-top: 0;
  }

  .container-intro-image {
    height: 273.22px;
  }

  /* --- BUTTONS ON DESKTOP --- */
  .btns-container {
    flex-direction: row;
  }

  /* ======== NEED A DEV / NEED A WEBSITE PAGES DESKTOP ========= */

  .need-dev .container {
    padding: 60px;
  }

  /* -- BUTTON CENTERED -- */
  .need-dev .btn-container {
    width: 30%;
    padding-top: 30px;
  }

  /* ABOUT SECTION */

  .about .container {
    padding: 60px;
  }

  .about-content,
  .about-image {
    width: 50%;
  }

  .about-image .container {
    height: 590px;
  }

  /* TECH STACK SECTION */

  .tech-stack {
    flex-direction: column;
  }

  .tech-stack-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .tech-content,
  .tech-image {
    width: 50%;
  }

  .tech-image {
    margin-top: 0;
  }

  .container-tech-image {
    height: 472px;
  }

  /* PROJECTS SECTION DESKTOP */

  .projects {
    flex-direction: column;
  }

  .projects-content {
    flex-direction: row;
  }

  /* ======= NEED WEBSITE STYLES ====== */

  .need-website .tech-image .container {
    height: 650px;
  }
}

/* ======= NEED WEBSITE STYLES ====== */
.need-website .tech-content > .container:first-child,
.need-website .contact > .container:first-child,
.need-website .need-dev .container,
.need-website .about {
  background-color: var(--color-accent--2);
}
