/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  background-color: #fffbf1;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  min-height: 100vh;
}

button {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
}

.header {
  padding: 10px;
}

.container-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-section {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  line-height: 1.2em;
}

h1 {
  font-size: 42px;
}

button {
  background-color: transparent;
  border: none;
  height: 56px;
}

.box {
  border: 1px solid #000000;
  width: 100%;
  min-width: 100px;
  padding: 40px 10px;
  margin-bottom: -1px;
}

.box::first-child {
  margin-bottom: 0;
}

.box.rounded-border {
  border-radius: 30px;
}

.accent-font-style {
  color: #e36a6a;
  font-weight: 700;
}

.btns-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.btn-container {
  display: flex;
  width: 100%;
}

.btn-container .btn-text {
  width: 65%;
  border: 1px solid #000000;
  color: #000000;
}

.btn-container .btn-text:hover {
  border: 1px solid #e36a6a;
  border-radius: 30px;
}

.btn-container .btn-arrow {
  border: 1px solid #000000;
  width: 35%;
}

.btn-container .btn-arrow {
  border-left: 1px solid transparent;
}

.btn-container .btn-arrow:hover {
  border: 1px solid #e36a6a;
  border-radius: 30px;
}

.btn-container .btn-text:hover + .btn-arrow {
  border-left: 1px solid #000;
}

.container-image {
  position: relative;
}

.container-image-hero .box {
  height: 400px;
  margin-top: 30px;
}

.container-image img {
  max-width: 100%;
  position: absolute;
  height: auto;
}

.container-image-hero img {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  height: 100px;
  display: flex;
  background-color: #424242;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

footer p {
  font-size: 14px;
  color: #fffbf1;
}

.nav-list {
  display: none;
}

/* -------- NEED A WEBSITE PAGE STYLES -------- */

h2 {
  font-size: 40px;
}

.one-column-box {
  gap: 20px;
  background-color: #fff2d0;
  padding: 60px 20px;
  border-radius: 30px;
}

.projects-section {
  gap: 20px;
}

.one-column-box .btn-container {
  display: flex;
  width: min(80%, 400px);
  margin: 30px auto 0;
}

.bold-paragraph {
  font-weight: 500;
}

.project-column-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-container > img {
  width: 100%;
}

.projects-section .project-column-box .btn-container {
  display: flex;
  width: min(80%, 400px);
}

.section-header .hide {
  display: none;
}

.how-section {
  gap: 20px;
}

.how-section-layout {
  display: flex;
  flex-direction: column;
}

.how-section h4 {
  font-weight: 500;
}

.steps-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-bottom: 1px solid transparent;
  padding: 30px;
  gap: 10px;
}

.steps-container:last-child {
  border-bottom: 1px solid #000;
}

.steps-container-title {
  display: flex;
  justify-content: space-between;
}

.how-container-image .box {
  height: 600px;
  margin-top: -1px;
}

.how-container-image img {
  transform: translate(0, -50%);
  top: 100%;
  width: 100%;
}

.section-full-color {
  background-color: #fff2d0;
  margin-top: 30%;
  padding: 60px 10px;
}

.section-full-color > section {
  display: flex;
  flex-direction: column;
}

.section-full-color img {
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
}

.section-full-color .box-image--full {
  height: 250px;
}
